/* style.css */
body{
  background: rgb(211,211,211);
  color: black;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
}
h1{
    color: purple;
  font-weight: bold;
  font-size: 20px;
}
h2 {
    color: rgb(199,44,72);
  font-weight: bold;
  font-size: 18px;
  text-decoration: overline;
}
a {
  color: black;
}
a:hover {
  text-decoration: underline;
  color: red;
}

.blue-title {
  color: blue;
  font-weight: bold;
}

.big-title{
  color: black;
  font-weight: bold;
  font-size: 24px
}

#baseline p {
  color: black;
}